$background-color : #F8F8F8;
$background-logo : #3D9E33;
$background-btn : #867AEB;
$color-h1 : #9E623A;
$color-h2 : #EB8A4B;
$color-p : black;
$font-h : 'Patrick Hand', cursive;
$font-p : 'Roboto', sans-serif;


body{
    margin: 0;
}
