$background-color : #F8F8F8;
$background-logo : #3D9E33;
$background-btn : white;
$background-contact : #EB8A4B;
$border-btn : #867AEB;
$color-h1 : black;
$color-h2 : black;
$color-h3 : black;
$color-p : black;
$font-h : 'Patrick Hand', cursive;
$font-p : 'Roboto', sans-serif;


body{
    margin: 0;
    overflow-x: hidden;
    background: $background-color;
}
a, p{
    font-family: $font-p;
}
a{
    color: black;
    text-decoration: none;
    &:hover{
        color: $background-logo;
    }
}
p{
    color: $color-p;
}
h1, h2{
    font-family: $font-h;
}
h1{
    color: $color-h1;
}
h2{
    color: $color-h2;
}
.btn{
    background: $background-btn;
    width: 150px;
    height: 70px;
    border: 1px solid $border-btn;
    &:hover{
        color: $background-logo;
    }
}

//header
.header-logo{
    background: $background-logo;
    a{
        img{
            padding: 4%;
            width: 300px;
            height: auto;
        }
    }
}
.navbar-collapse{
    justify-content: space-evenly;
}
.nav-line{
    width: 100%;
    border: 1px solid grey;
    margin: 0;
}
//footer
footer{
    background: $background-logo;
}
//home
.home-img-top{
    background-image: url("../img/header-home.jpg"); 
    height: 200px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.container-contact{
    background: $background-contact;
}
//Aide-live
.form-check{
    margin-left: auto;
    margin-right: auto;
}
.aide-img{
    width: 100%;
    height: auto;
}


    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        //header
        .header-logo{
            a{
                img{
                    width: 500px;
                }
            }
        }
        .navbar-collapse{
            .nav-link{
            margin-left: 30px;
            margin-right: 30px;
            }
        }
        //home
        .home-img-top{
            height: 400px; 
        }
        .contact-home{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }



        // X-Large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {

        }